/*.app-search .form-control, 
.app-search .form-control:focus {
	background: rgba(255, 255, 255, 0.42);
	color: #fff;
}
input[type="text"].form-control::-webkit-input-placeholder,
input[type="text"].form-control::-moz-placeholder,
input[type="text"].form-control:-moz-placeholder {
	color: red !important;
}*/
.min-head {
	padding: 10px 0;
	text-align: center;
	position: relative;
}
.min-head img {
	max-width: 60%;
	margin: 0 auto;
	position: relative;
	z-index: 2
}
.sidebar {
	z-index: 1000;
	padding-top: 0;
}
.min-head .coverHead {
	position: absolute;
	top: 0; left: 0; right: 0;
	bottom: 40%;
	background:url(/app/img/min-head.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 0
}
.bg-title .breadcrumb {
	float: none;
}
.ibox-tools.v2 {
	float: right;
	position: relative;
	margin-top: -45px;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: none !important;
}
table.dataTable thead tr th,
table.dataTable tbody tr td:last-child {
    text-align: center !important;
    vertical-align: middle;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  background: #d3d3d3 !important;
}
table.dataTable.no-footer,
table.dataTable thead th, table.dataTable thead td {
	border-bottom: none !important;
}
table.dataTable tbody th, table.dataTable tbody td {
	vertical-align: middle;
}

.table-striped > tbody > tr:nth-of-type(odd), .table-hover > tbody > tr:hover, .table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background: rgba(245, 245, 245, 0.67) !important;
}
.bg-title .breadcrumb .active {
	color: rgba(0, 0, 0, 0.2);
}
table.dataTable tbody tr td:last-child {
  width: 180px !important;
}
table.dataTable tbody tr td .checkbox {
    width: 100% !important;
    text-align: center; !important;
}

/*Annuaire*/
/* scaffolding */
/* ----------- */

html {
	overflow-y: scroll;
	*overflow-x: hidden;
}

.container {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.tt-menu,
.gist {
	text-align: left;
}

/* base styles */
/* ----------- */

html {
	font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	color: #292f33;
}


a {
	color: #03739c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.table-of-contents li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.table-of-contents li a {
	font-size: 16px;
	color: #999;
}

p + p {
	margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
	margin: 20px 0 0 0;
	font-size: 64px;
}

.example {
	padding: 30px 0;
}

.example-name {
	margin: 20px 0;
	font-size: 32px;
}

.demo {
	position: relative;
	*z-index: 1;
	margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
	width: 396px;
	height: 30px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 30px;
	border: 2px solid #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	outline: none;
}

.typeahead {
	background-color: #fff;
}

.typeahead:focus {
	border: 2px solid #0097cf;
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-menu {
	width: 422px;
	margin: 12px 0;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 14px;
	line-height: 24px;
}

.tt-suggestion:hover {
	cursor: pointer;
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;

}

.tt-suggestion p {
	margin: 0;
}

.gist {
	font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
	padding: 5px 10px;
	text-align: center;
}

#multiple-datasets .league-name {
	margin: 0 20px 5px 20px;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
	max-height: 150px;
	overflow-y: auto;
}

#rtl-support .tt-menu {
	text-align: right;
}

.twitter-typeahead {
	width: 100%;
}

.line-clamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/*-webkit-box-orient: vertical;  */
}


.line-clamp i{
	margin: 4px 8px 0 0;
}
.contact-category .selected {
	background-color: #EC4758;
	color: white;
	pointer-events: none;
	cursor: default;
}

.vcarousel .news-content-2 {
  position: absolute;
  bottom: 0 !important;
  top: none !important;
  width: 100%;
  padding: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}
.vcarousel .news-content-2 .type {
  font-size: 34px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.33);
  text-transform: uppercase;
}
.vcarousel .news-content-2 .title {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.vcarousel .overlaybg {
  background: #000;
}
.vcarousel .overlaybg img {
  -o-object-fit: cover;
  object-fit: cover;
  /* La valeur Ã  indiquer va de 0 Ã  10 */
  -moz-opacity: 0.7;
  filter: alpha(opacity:  70 );
  opacity: 0.7;
}
.vcarousel .maskLink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.vcarousel .maskLink span {
  display: none;
}
.aMid td {
	vertical-align: middle !important;
}
.comment-center .comment-body:hover {
    background: rgba(245, 245, 245, 0.67);
}



.catList {
  margin-bottom: 30px;
}
.catList .img-cat {
  position: relative;
  margin: -54px -25px 25px -25px;
  display: block;
  height: 150px;
}
.catList .img-cat {
  z-index: 0;
  position: relative;
}
.catList .img-cat .img-responsive {
  width: 100%;
  height: 150px;
}
.catList .img-cat .img-responsive.compat-object-fit {
  background-size: cover;
  background-position: center center;
}
.catList .img-cat .img-responsive.compat-object-fit .post__featured-image {
  opacity: 0;
}
.catList .img-cat .img-responsive {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
.catList .box-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catList .white-box {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.catList .white-box .btn-circle {
  position: absolute;
  z-index: 100;
  left: 35px;
  top: 82px;
  display: none;
}
.catList.categories .white-box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.108);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.108);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.108);
}
.catList.categories .white-box:hover .btn-circle {
  display: block ;
  -webkit-animation: fadeInUp 0.3s;
  animation: fadeInUp 0.3s;
}
.comment-center.vCat .comment-body .btn-circle {
  left: auto !important;
  top: 34px;
  right: 15px;
}
.catList.categories p {
  height: 43px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: left;
  padding: 5px;
}
.ribbon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #adadad transparent transparent transparent;
  z-index: 0;
}
.ribbon .fa {
  position: relative;
  z-index: 1000;
}
.comment-center.vCat .comment-body:hover .btn-circle {
  display: block ;
  -webkit-animation: fadeInUp 0.3s;
  animation: fadeInUp 0.3s;
}
.catList.categories .white-box {
  height: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catList.categories .white-box {
	position: relative;
}
.comment-center.vCat .comment-body {
  width: 100%;
  position: relative;
}
.pro-img {
  width: 145px;
}
.pro-img img {
  width: auto;
  max-height: 82px;
}
.pro-img,
.pro-detail {
  text-align: center;
}
.linksPagination {
  padding: 25px 0 0 0;
}
.media-profil h4 {
  margin: -2px 0 0 0 !important;
  padding: 0;
}
.news-media {
  position: relative;
  margin: -8px 15px 0 0;
}
.basic-list.list-cat a {
  display: block;
}
.basic-list.list-cat a.activ {
  color: #000;
  font-weight: 600;
}
.basic-list.list-cat li {
    line-height: 20px;
}
.basic-list.list-cat a .label {
    padding: 7px 16px 6px;
}
.basic-list.list-cat a {
	color: #000;
}
.menu-admin {
  position: relative;
  margin: -65px 0 0 0;
}
.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  background-color: #ffffff;
  border: 1px solid #e4e7ea;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}
/* Force default input to not be restricted to 100px (for placeholder) */
.select2-container--default .select2-search--inline .select2-search__field{
  width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #e4e7ea !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}
.msgFolder {
  text-align: center;
  background: #f5f5f5;
  padding: 50px 50px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  color: #777777 !important;
}
.dropzone {
  border: 1px dashed #ccc !important;
  border-radius: 10px;
  background: #f5f5f5 !important;
  margin-bottom: 25px;
  color: #777777 !important;
  font-size: 21px;
}
.file-name {
  word-break: break-all;
  height: 92px;
  font-size: 13px;
}
.file {
  border: 1px solid #e7eaec;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}
.file .icon,
.file .file-name {
  padding: 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7eaec;
}
.file .icon,
.file .image {
  height: 100px;
  overflow: hidden;
}
.file .icon {
  padding: 15px 10px;
  text-align: center;
}
.file .icon i {
  font-size: 70px;
  color: #dadada;
}
.file .corner {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 0.6em solid transparent;
  border-right: 0.6em solid #f1f1f1;
  border-bottom: 0.6em solid #f1f1f1;
  right: 0em;
  bottom: 0em;
}
.file .file-name {
  background: rgba(0, 0, 0, 0.1);
}
.file .file-name small {
  color: #676a6c;
}
.file .file-manager,
.file .hr-line-dashed {
  margin: 15px 0;
}
.file .file-control {
  color: inherit;
  font-size: 11px;
  margin-right: 10px;
}
.file .file-control .active {
  text-decoration: underline;
}
.jstree-default .jstree-clicked {
	background: #f5f5f5;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #e4e7ea !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	height: 38px !important;
	padding: 7px 12px !important;
}
.filter-label {
	margin-top: 5px !important;
}


/* PC */
/*Calendar*/
.calendar {
  float: left;
  margin-bottom: 0px;
}
.fc-view {
  margin-top: 30px;
}
.none-border .modal-footer {
  border-top: none;
}
.fc-toolbar {
  margin-bottom: 5px;
  margin-top: 15px;
}
.fc-toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}
.fc-day {
  background: #ffffff;
}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}
.fc-widget-header {
  border: 0px !important;
}
.fc-widget-content {
  border-color: rgba(120, 130, 140, 0.13) !important;
}
.fc th.fc-widget-header {
  background: #9675ce;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0px;
  text-transform: uppercase;
}
.fc-button {
  background: #ffffff;
  border: 1px solid rgba(120, 130, 140, 0.13);
  color: #555555;
  text-transform: capitalize;
}
.fc-text-arrow {
  font-family: inherit;
  font-size: 16px;
}
.fc-state-hover {
  background: #F5F5F5;
}
.fc-unthemed .fc-today {
  border: 1px solid #fb9678;
  background: #fcf8e3!important;
}
.fc-state-highlight {
  background: #f0f0f0;
}
.fc-cell-overlay {
  background: #f0f0f0;
}
.fc-unthemed .fc-today {
  background: #ffffff;
}
.fc-event {
  border-radius: 0px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 1px -1px 0 -1px;
  padding: 5px 5px;
  text-align: center;
  background: #03a9f3;
}
.calendar-event {
  cursor: move;
  margin: 10px 5px 0 0;
  padding: 6px 10px;
  display: inline-block;
  color: #ffffff;
  min-width: 140px;
  text-align: center;
  background: #03a9f3;
}
.calendar-event a {
  float: right;
  opacity: 0.6;
  font-size: 10px;
  margin: 4px 0 0 10px;
  color: #ffffff;
}
.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}
.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}
.menu-admin .btn-add-big i {
  vertical-align: middle;
  font-size: 25px;
}
.calendar-content {
  position: relative;
}
.box-template {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.box-template {
  float: right;
  background: #000;
  color: white;
  display: none;
  padding: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7);
}
.box-template button.close {
  color: #fff !important;
  opacity: 0.4 !important;
}
.box-template h2 {
  margin-top: 100px;
  margin-bottom: 35px;
  color: #fff;
  font-weight: 200 !important;
  font-size: 14px !important;
  line-height: 1.4;
  /* La valeur Ã  indiquer va de 0 Ã  10 */
  -moz-opacity: 0.86;
  filter: alpha(opacity:  86 );
  opacity: 0.86;
}
.box-template h2 a {
  color: #fff !important;
}
.box-template .fc-event {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.22) !important;
  padding: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin: 10px 15px !important;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.02s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.02s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.02s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: all;
  -o-transition-duration: 0.02s;
  -o-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.02s;
  transition-timing-function: ease-in-out;
}
.box-template .fc-event.active,
.box-template .fc-event:hover {
  border: 1px dashed #fff !important;
  background: #3a484e !important;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.9);
  z-index: 10000;
}
.box-template .add-local-plan {
  /*      position: absolute;
      bottom: 180px;
      left:0;
      right: 0;*/
  border-top: 1px solid rgba(255, 255, 255, 0.22);
  padding-top: 30px;
}
.box-template .add-local-plan h2 {

  -moz-opacity: 0.86;
  filter: alpha(opacity:  86 );
  opacity: 0.86;
  margin-top: 0;
}
.box-template .add-local-plan h2 a {
  -moz-opacity: 0.86;
  filter: alpha(opacity:  86 );
  opacity: 0.86;
}
.box-template .add-local-plan .btn-add-big {
  line-height: 2;
}
.box-template .add-local-plan .btn-add-big i {
  vertical-align: middle;
  font-size: 25px;
}
.box-inner-template {
  min-height: 600px;
  width: 290px;
}
.menu-admin {
    position: relative;
    z-index: 100;
}
.menu-admin .btn-add-big {
    line-height: 2;
}
/*  Operation fiche  */
.head-operation {
  text-align: center;
  background: #2b46a1;
  color: #fff !important;
  padding: 60px;
  margin: -25px;
  margin-bottom: 30px;
  position: relative;
}
.head-operation .image-filter {
  z-index: 0;
  background-size: cover;
  backgound-repeat: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  /* La valeur Ã  indiquer va de 0 Ã  10 */
  -moz-opacity: 0.2;
  filter: alpha(opacity:  20 );
  opacity: 0.2;
}
.head-operation.ope-1 {
  background: #aacb00;
}
.head-operation.ope-2 {
  background: #ca8b88;
}
.head-operation.ope-3 {
  background: #62a553;
}
.head-operation.ope-4 {
  background: #787878;
}
.head-operation.ope-5 {
  background: #03a9f3;
}
.head-operation * {
  color: #fff !important;
}
.r-icon-stats i {
  width: 66px;
  height: 66px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  display: table-cell;
  border-radius: 100%;
  vertical-align: top;
  background: #03a9f3;
  float: left;
  margin-right: 20px;
}
.r-icon-stats .bodystate {
  vertical-align: middle;
  height: 66px;
  width: 82%;
  display: table-cell;
  text-align: left;
}
.white-box.vtable .r-icon-stats {
  display: table;
  width: 100%;
}
.r-icon-stats .bodystate h4 {
  font-size: 14px;
}
.list-icons.v2 li {
  line-height: 22px !important;
}
.white-box.apply {
  color: #000;
  border-right: 1px dotted #ccc;
}
.white-box.apply.last {
  border: none;
}
.white-box.apply h1 {
  color: #999;
}
.visuel-ope {
  position: relative;
  margin: 0 -25px;
  height: 300px;
}
.visuel-ope .image-filter {
  z-index: 0;
  background-size: cover;
  backgound-repeat: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.photo-expert {
  position: relative;
  margin-top: -100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(255, 255, 255, 0);
}
td.fc-widget-content {
  padding: 10px;
}
.fc-event {
  text-align: left;
  border: none !important;
  background: none !important;
}
.fc-event .fa-lock {
  margin-left: 10px;
}
.fc-content {
  padding: 10px;
  /*  height: auto !important;*/
  background: #dadada;
  border: 1px dashed #787878 !important;
  color: #787878;
  border-radius: 7px;
  /*  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
*/
  font-weight: 200 !important;
}
.fc-content.ope-1 {
  background: #e8f1b8;
  border: 1px solid #aacb00 !important;
  color: #aacb00;
}
.fc-content.ope-2 {
  background: #ffd5d3;
  border: 1px solid #ca8b88 !important;
  color: #ca8b88;
}
.fc-content.ope-3 {
  background: #a2d996;
  border: 1px solid #62a553 !important;
  color: #62a553;
}
.fc-content.ope-4 {
  background: #dadada;
  border: 1px dashed #787878 !important;
  color: #787878;
}
.fc-content.ope-5 {
  background: #80c8e8;
  border: 1px solid #03a9f3 !important;
  color: #03a9f3;
}
.ope-head {
  color: #fff !important;
}
.ope-head .close {
  color: #fff !important;
  /* La valeur Ã  indiquer va de 0 Ã  10 */
  -moz-opacity: 1;
  filter: alpha(opacity:  100 );
  opacity: 1;
}
.ope-head h4 {
  text-transform: uppercase;
  color: #fff !important;
  font-size: 17px;
}
/*.ope-1 {*/
  /*background: #aacb00;*/
/*}*/
/*.ope-2 {*/
  /*background: #ca8b88;*/
/*}*/
/*.ope-3 {*/
  /*background: #62a553;*/
/*}*/
/*.ope-4 {*/
  /*background: #787878;*/
/*}*/
/*.ope-5 {*/
  /*background: #03a9f3;*/
/*}*/
.text-center {
  text-align: center !important;
}
.fc-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fc button {
  background: #fff;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 rgba(0, 0, 0, 0) !important;
  border: none;
  border-radius: 0 !important;
  color: #adadad;
  font-size: 13px;
}
.fc-state-active,
.fc-state-down {
  border-bottom: 2px solid #03a9f3 !important;
  color: #000 !important;
}
.fc-toolbar.fc-header-toolbar {
  margin: 0;
  padding: 0;
}
#calendar {
  overflow: hidden;
}
.fc-toolbar h2 {
  float: left;
  display: none;
}
.fc-toolbar .fc-center h2 {
  display: block;
}
.fc-view {
  padding: 0;
  margin: 0;
}
div.fc-widget-header {
  border-top: 1px solid #ebebeb !important;
}
.fc-day-grid-event {
  margin-top: 5px;
}
.white-box.vLight {
  padding: 10px;
}
/* Wizard */
.wizard.vertical > .steps {
  width: 15%;
  padding: 0.6% 0%;
}
.wizard.vertical > .content {
  width: 80%;
  background: #FFF;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 3px 0 0;
  border-radius: 0px;
  margin: 0 2.5% 2em 2.5%;
}
.wizard > .content {
  min-height: 44em;
}
.wizard > .content > .body {
  width: 100%;
  height: 100%;
  padding: 1.5% 2%;
  position: relative;
}
.wizard > .content > .body h3 {
  border-bottom: 1px solid #E7EAEC;
  padding-bottom: 18px;
  margin-bottom: 25px;
}
.wizard > .content > .body input {
  border: 1px solid #E5E6E7;
}
.form-horizontal .control-label {
  text-align: left;
}
.wizard > .content > .body .form-group {
  min-height: 34px;
}
.wizard > .content > .body .form-group a {
  padding-top: 10px;
  display: block;
}
/*.wizard > .content > .body span.switchery {*/
/*border-color: rgb(60, 206, 67) !important;*/
/*box-shadow: rgb(60, 206, 67) 0px 0px 0px 16px inset !important;*/
/*background-color: rgb(60, 206, 67) !important;*/
/*}*/
.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
  background: #0E4D94;
  padding: 0.5em 1em;
  border-radius: 3px;
  border-color: #0B3D75;
  padding: 6px 12px !important;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
  background: #FFF !important;
  color: #999C9E;
  border: 1px solid #E5E6E7;
  cursor: not-allowed;
}
.wizard > .steps a {
  font-size: 15px;
}
.wizard > .steps .number {
  font-size: 15px !important;
  font-weight: normal;
  border: 2px solid #999C9E;
  background: transparent;
  border-radius: 100%;
  padding: 2px 8px;
  color: #999C9E;
  margin-right: 8px;
	width: 28px;
	height: 28px;
	display: inline-block;
	text-align: center;
}
li.last .number {
  padding: 3px 4px !important;
}
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
  color: #0e4d94;
  font-weight: 600;
  background: transparent;
}
.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
  background: transparent;
  color: #505050;
}
.wizard > .steps .done span.number,
.wizard > .steps .done span.number:hover,
.wizard > .steps .done span.number:active {
  font-weight: 600;
  border: 2px solid #505050;
  color: #505050;

}
.wizard > .steps .current span.number,
.wizard > .steps .current span.number:hover,
.wizard > .steps .current span.number:active {
  font-weight: 600;
  border: 2px solid #0e4d94;
  color: #0e4d94;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
  background: transparent;
}
.row-space {
  height: 45px;
}
.btn.btn-primary.btn-add-wizard {
  background-color: transparent;
  border-color: #0e4d94;
  color: #0e4d94;
}
.btn.btn-primary.btn-add-wizard-top {
  float: right !important;
  margin-top: -70px;
}
.btn.btn-primary.btn-add-wizard:hover {
  color: #fff;
  background: #0e4d94;
}
.wizard .ibox-content {
  background-color: #FDFDFD;
}
.wizard .panel-default > .panel-heading {
  height: 55px;
  background-color: #f9f9fa;
}
/* Folder */
.wizard > .content > .body ul.folder-list {
  list-style: inherit !important;
}
.file-manager a.btn.btn-primary.btn-add-wizard.dz-clickable {
  display: block;
  margin-top: 25px;
  margin-left: 0px;
}
.wizard.vertical > .steps {
  width: 20%;
}
.wizard.vertical > .content {
  width: 77.5%;
  margin: 0 0 2em 2.5%;
}
#local-operation-modal .modal-dialog {
    width: 1000px;
}
.note-editor.note-frame {
	border: 1px solid #e4e7ea !important
}
.note-editor.note-frame:focus {
	border: 1px solid #000 !important
}
.login-logo {
    width: 400px;
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
}
.login-logo img {
	max-height: 200px;
    max-width: 70%;
}
.login-box {
	margin-top: 30px;
}
.nav-tabs > li > a.active {
	color: #fff;
}

.contact-category {
	margin-bottom: 20px;
}
.contactList {
	height: 145px;
}
.title-result {
	margin-top: 20px;
	margin-bottom: 20px;
}

.select2-container{
    width: 100% !important;
}

.sidebar .sidebar-nav {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 768px) {
  .sidebar .sidebar-nav {
    display: none;
  }
  .sidebar .sidebar-nav.navbar-collapse.in {
    display: block;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-property: all;
    -ms-transition-duration: 0.2s;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  .sidebar .sidebar-nav.navbar-collapse {
    display: none;
  }
  .min-head {
    display: none
  }
}

.img-news{
    max-width: 500px;
}

/*Error Page*/
.error-box {
    background: url(../../app/img/error-bg.jpg) no-repeat center center #fff !important;
}
/*Plan de com*/
.fc-highlight {
    background: none!important;
}

.calendar-content .fc-view > table {
    width: 100%;
}

.file-name .description{
    color: #676a6c !important;
}


.notifications .feed-element{
    margin: 0 !important;
    padding: 15px 10px 15px 10px;
}
.notifications .feed-element.unread{
    background-color: #F3F3F4;
}
.notifications .feed-element .title{
    color: #676a6c !important;
    font-size: 14px;
}
.notifications .feed-element .delete,
.notifications .feed-element .mark-as-read,
.notifications .feed-element .mark-as-unread{
    cursor:pointer;
    margin:5px;
}

.notifications .feed-element .delete i,
.notifications .feed-element .mark-as-read i,
.notifications .feed-element .mark-as-unread i {
    font-size: 1.5em;
}
.notifications-dropdown{
    width: 50px;
}
.notifications-dropdown .notif-item a{
    margin: 0 !important;
    padding: 0 !important;
    color: #262626;
}
.notifications-dropdown .notif-item .notif-icon{
    margin: 0 5px 0 0;
}
.notifications-dropdown .count-info{
    padding: 5px 0 0 0;
}
.notifications-dropdown .count-info .badge{
    position: absolute;
    left: 20px;
    top: 30px;
    width: 30px;
}
.notifications-dropdown .count-info .badge.hundred_class{
    width: 35px;
}

#numerosPagesNotif {
    text-align: right;
    display: inline-block;
    right: 10px;
    float: right;
}

#selectNotifPerPage {
    margin: 20px 0 0 0;
    display: inline-block;
    color: rgb(35, 82, 124);
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}
.feed-element:first-child {
    margin-top: 0;
}
.feed-element {
    padding-bottom: 15px;
}
.feed-element,
.feed-element .media {
    margin-top: 15px;
}
.feed-element,
.media-body {
    overflow: hidden;
}
.feed-element > .pull-left {
    margin-right: 10px;
}
.feed-element img.img-circle,
.dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}
.feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}
.feed-element .actions {
    margin-top: 10px;
}
.feed-element .photos {
    margin: 10px 0;
}

.link-block {
    font-size: 12px;
    padding: 10px;
}

.dropdown.notifications-dropdown .dropdown-menu {
    border: medium none!important;
    border-radius: 3px!important;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7)!important;
/*display: none!important;*/
    float: left!important;
    font-size: 12px!important;
/*left: 0!important;*/
    list-style: none outside none!important;
/*padding: 0!important;*/
    position: absolute!important;
    text-shadow: none!important;
    top: 100%!important;
    z-index: 1000!important;
}

.dropdown-messages, .dropdown-alerts {
    padding: 10px 10px 10px 10px;
}

.dropdown-menu .divider {
    margin: 9px 0 !important;
}

.dropdown-menu > li > a {
    border-radius: 3px;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    width: 330px;
    min-width: 0;
}

.pagination > li > a, .pagination > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #f4f4f4;
    border-color: #DDDDDD;
    color: inherit;
    cursor: default;

    z-index: 2;
}

/* Plan de communication */
/* Dashboard */
.box-bg .image-filter {
    z-index: 0;
    background-size: cover;
    backgound-repeat: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    -moz-opacity: 0.2;
    filter: alpha(opacity: 20 );
    opacity: 0.2;
}

.box-bg.com_plan{
    height:360px;
}
.box-bg.com_plan p{
    color: #FFF;
    font-size:20px;
    margin-top: 60px;
}

.box-bg.com_plan h3.box-title{
    line-height: 40px !important;
    max-height: 40px !important;
    font-size: 15px !important;
}
.box-bg .txt {
    position: relative;
    z-index: 10;
}
.box-bg.com_plan .eventName{
    display: table-cell;
    position: relative;
    line-height:100px;
    height:135px;
    width: 528px; /* A remplacer par manu pour le responsive */
    vertical-align:middle;
}
.box-bg.com_plan .eventName h2{
    color: #FFFFFF;
    line-height: 40px;
    font-weight: 400;
    font-size: 35px;
}

.box-bg.com_plan .bigNb {
    font-family: @font-3;
    font-weight: 900;
    font-size: 90px;
    position: relative;
    margin: 10px 0 1px 0;
}

.box-bg.com_plan .btn-outline.text-white {
    color: #fff;
    border: 1px solid #fff;
    margin-top: 35px;
    font-size: 20px;
}
.box-bg.com_plan h3.box-title{
    margin-bottom: 4px;
}

.bigNb .up {
    text-transform: uppercase;
    vertical-align: top;
    font-size: 20px;
    font-weight: 200
}
.bigNb .points {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    width: 40%;
    font-weight: 200;
    line-height: 14px;
    border-left: 1px solid #fff;
    padding: 5px 15px;

}

.panel .panel-body{
    padding: 0 25px;
}

.progress{
    height:20px;
}

.dl-horizontal dt{
    width: 170px;
}

.block-status .checked{
    color:green;
    font-weight: bold;
}

.block-status .unchecked{
    color:red;
    font-weight: bold;
}

.permissions_listing .panel-body{
    height: 70vh;
    overflow: auto;
}

.product-page .second-visual img{
    width: 100%;
}

.width-full{
    width:100% !important;
}
.bg-color-3 {
    background-color: #03a9f3 !important;
}
.bg-color-4 {
    background-color: #03a9f3  !important;
}
.bg-color-1 {
    background-color: #7c818c !important;
}
.bg-color-2 {
    background-color: #7c818c !important;
}
.bg-color-5 {
    background-color: #038df3 !important;
}


.white-box {
  text-transform: lowercase;
}
.box-kpi h3 {
  font-size: 18px
}
.box-kpi .light_op_text {
  font-size: 13px;
  color: #fff;
}
.box-kpi {
  padding-left: 0px;
  padding-right: 0px;
}
table.dataTable {
  table-layout: fixed !important;
}
table.dataTable th:last-child,
table.dataTable thead th:last-child,
table.dataTable tfoot th:last-child {
  width: 225px !important;
}

.filter-state {
  margin-left: -17px;
  margin-right: -17px;
  margin-bottom: 25px;
  margin-top: -23px;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.3);
}
.show-history {
  position: relative;
  top: 8px;
}
.panel-block.panel-default .panel-heading .badge {
    background: #03a9f3 !important;
}

.panel-block.panel-default .panel-heading .badge {
    height: 72px;
    width: 72px;
    font-size: 20px;
    font-weight: 200;
    line-height: 72px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    left: -16px;
    background: #D23737;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.panel-block.panel-default .panel-heading {
    border-bottom: 1px solid #f1f2f7;
    background: rgba(245, 245, 245, 0.54);
    position: relative;
    overflow: hidden;
    padding-left: 70px;
}
.panel-block:hover {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.panel-block {
    margin-bottom: 25px;
    margin-top: 5px;
    transition: 0.2s;
}
.panel .panel-body {
    padding: 25px;
}
.uploads .col-md-12 span + .btn {
  float:right;
  position: relative;
  margin-top: -18px;
}
.contact-area h5 {
  border-bottom: 1px solid #e4e7ea;
  font-weight: 600;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.contact-area {
  padding: 0px 5px 5px 5px;
}
.search-contact.v3sales {
  margin-right: 35px !important;
}
.search-contact.v3sales + .select2-container {
  margin-right: 35px !important;
}
.contact-area .add-contact.v3 {
  position: relative;
  margin-left: -15px;
}

.contact-area .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 19px;
}
.contact-area .select2-container--default .select2-selection--single {
    border: 1px solid #e4e7ea !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    height: 35px !important;
    padding: 7px 12px !important;
    margin-top: 0;
}
.contact-area .items {
  margin: 15px 0 30px 0;
}
.contact-area .items .contact-item {
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  background: #f5f5f5;
  margin: 4px 2px 4px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px dotted rgba(153, 153, 153, 0.3);
}
.contact-area .items .contact-item:hover {
  background: #fff;
}

.box-kpi {
  position: relative;
  overflow: hidden;
  min-height: 213px;
}
.box-kpi * {
  z-index: 1;
  position: relative;
}
.box-kpi .img-bg {
  position:  absolute;
  top:0;left:0; right: 0; bottom: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center ;
  z-index: 0 !important;
  -moz-opacity: 0.15;
  filter: alpha(opacity:  15 );
  opacity: 0.15;
}
.box-kpi.bg-color-2 .img-bg:after,
.box-kpi.bg-color-1 .img-bg:after {
  content: '';
  position: absolute;
  height: 30%;
  left:0;
  right: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c818c+0,7c818c+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(124,129,140,0) 0%, rgba(124,129,140,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(124,129,140,0) 0%,rgba(124,129,140,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(124,129,140,0) 0%,rgba(124,129,140,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c818c', endColorstr='#7c818c',GradientType=0 ); /* IE6-9 */
}
.box-kpi.bg-color-3 .img-bg:after,
.box-kpi.bg-color-4 .img-bg:after {
  content: '';
  position: absolute;
  height: 30%;
  left:0;
  right: 0;
  bottom: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c818c+0,03a9f3+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(124,129,140,0) 0%, rgba(3,169,243,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(124,129,140,0) 0%,rgba(3,169,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(124,129,140,0) 0%,rgba(3,169,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c818c', endColorstr='#03a9f3',GradientType=0 ); /* IE6-9 */
}
.box-kpi.bg-color-5 .img-bg:after {
  content: '';
  position: absolute;
  height: 30%;
  left:0;
  right: 0;
  bottom: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c818c+0,038df3+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(124,129,140,0) 0%, rgba(3,141,243,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(124,129,140,0) 0%,rgba(3,141,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(124,129,140,0) 0%,rgba(3,141,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c818c', endColorstr='#038df3',GradientType=0 ); /* IE6-9 */
}
.box-kpi .img-bg.bg-1 {
    background-image:url(/app/img/sales.png) ;
}
.box-kpi .img-bg.bg-2 {
    background-image:url(/app/img/leasing.png);
}
.box-kpi .img-bg.bg-3 {
    background-image:url(/app/img/partner.jpg);
}
.extra-datas {
  clear: both;
  margin: 25px;
}
.extra-datas label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
.table.dataTable tbody td.sorting_1 {
  overflow: hidden;
}
.panel-block.panel-default .panel-heading .badge.badge-default {
  background: #006cbf !important;
}
.box-kpi .btn-outline {
  border-color: #fff;
  background: none;
  color: #fff;
}
.box-kpi .btn-outline:hover {
  color: #000;
}
.box-kpi .unlock-commission {
  position: relative;
  margin-top: -5px;
  transform: scale(0.95);
}
.col-stats {
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 25%;
    float: left;
}
.stats-4 .col-stats {
    width: 25%;
}
.stats-5 .col-stats {
    width: 20%;
}
/*.stats-5 .col-stats:last-child {*/
  /*width: 66.666666%*/
/*}*/
.e-commerce-table table.dataTable tbody tr td:last-child {
  width: 180px !important;
}
.e-commerce-table table.dataTable tbody tr td:last-child .form-control {
  width: 90px;
  height: 34px;
  margin-top: -1px
}
.e-commerce-table table.dataTable tbody tr td:last-child .add-to-cart {
  margin-left: -5px;
}

.has-error{
    color: #a94442;
}

/*.file-input .file-footer-buttons .kv-file-remove{*/
    /*display: none;*/
/*}*/

@media (max-width: 1460px) {
  .box-kpi h3 {
    font-size: 13px;
  }
  .box-kpi .light_op_text {
      font-size: 10px;
  }
    .box-bg.com_plan .bigNb {
        font-size: 70px;
    }
}
@media (max-width: 1240px) {
  .stats-5 .col-stats {
      width: 50%;
  }
  .stats-5 .col-stats:last-child {
    width: 100%
  }
}
@media (max-width: 1200px) {
  .stats-4 .col-stats {
      width: 50%;
  }
}

@media (max-width: 988px) {
  .stats-5 .col-stats {
      width: 100%;
  }
  .stats-4 .col-stats {
      width: 100%;
  }
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .contact-area .add-contact.v3 {
    margin-left: -24px;
  }
}
@media (max-width: 1300px) {
  .contact-area .add-contact.v3 {
    margin-left:0;
  }
  .col-contact-r {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .search-contact.v3sales + .select2-container {
    width: 80% !important;
    margin-top: 9px;
  }
  .contact-area .add-contact.v3 {
    position: absolute;
    top: -35px !important;
    right: 11px;
  }
}
@media (max-width: 1600px) {
    table.dataTable {
        table-layout: initial !important;
    }
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #d56500;
    background-color: #fff;
    border-color: #bc4600;
}
